<header style="padding: 1em;">
  <div class="">
    <div 
      class="social-network"
     style="display: flex; justify-content: end; align-items: center;margin: 2em 0;"
    >
      <div class="social-network--img" style="margin: 0 0.5em; width: 3em;">
        <img class="img-fluid" src="./assets/svg/facebook-brand-black-circle.png" alt="">
      </div>
      <div class="social-network--img" style="margin: 0 0.5em; width: 3em;">
        <img class="img-fluid" src="./assets/svg/instagram-brand-black-circle.png" alt="">
      </div>
      <div class="social-network--img" style="margin: 0 0.5em; width: 3em;">
        <img class="img-fluid" src="./assets/svg/tik-tok-brand-black-circle.png" alt="">
      </div>
      <div class="social-network--img" style="margin: 0 0.5em; width: 3em;">
        <img class="img-fluid" src="./assets/svg/youtube-brand-black-circle.png" alt="">
      </div>
    </div>
    <div 
    class="menu"
    style="padding: 0 10em;"
    >
      <ul class="menu__list">
        <li
        *ngFor="let menu of menuList"
        class="menu__list--items"
        [ngStyle]="{
          'color': menuListStyle.color,
          'font-size': menuListStyle.fontSize,
          'font-weight': menuListStyle.fontWeight
        }"
        >{{menu.name}}</li>
      </ul>
      <div *ngIf="specialButton.active">
        <button
        class="button-estrella"  
        [ngStyle]="{
          'background-color': specialButton.backgroundColor,
          'border-radius': specialButton.borderRadius,
          'color': specialButton.color,
          'font-size': specialButton.fontSize,
          'font-weight': specialButton.fontWeight,
          'padding': specialButton.padding
        }"
        >
        {{ specialButton.text }}
        </button>
      </div>
    </div>
  </div>
</header>
