<header style="padding: 1em;">
  <div class="">
    <div 
      class="social-network"
     style="position: absolute; top: -1.5em; right: 0;"
    >
      <div class="social-network--img" style="margin: 0 0.5em; width: 3em;">
        <img class="img-fluid" src="./assets/svg/facebook-brand-black-circle.png" alt="">
      </div>
      <div class="social-network--img" style="margin: 0 0.5em; width: 3em;">
        <img class="img-fluid" src="./assets/svg/instagram-brand-black-circle.png" alt="">
      </div>
      <div class="social-network--img" style="margin: 0 0.5em; width: 3em;">
        <img class="img-fluid" src="./assets/svg/tik-tok-brand-black-circle.png" alt="">
      </div>
      <div class="social-network--img" style="margin: 0 0.5em; width: 3em;">
        <img class="img-fluid" src="./assets/svg/youtube-brand-black-circle.png" alt="">
      </div>
    </div>

    <div style="display: flex; align-items: end;border-bottom: 9px solid #eb8c2a;">

      <!--agregado-->
      <div style="width: 9em;margin: 0 3em 0 5em">
        <img class="img-fluid" [src]="logo" alt="">
      </div>
      <!--agregado-->

      <div 
      class="menu"
      style="width: 100%;"
      >
        <ul class="menu__list">
          <li
          *ngFor="let menu of menuList"
          class="menu__list--items"
          [ngStyle]="{
            'color': menuListStyle.color,
            'font-size': menuListStyle.fontSize,
            'font-weight': menuListStyle.fontWeight
          }"
          >{{menu.name}}</li>
        </ul>
        <div *ngIf="specialButton.active">
          <button
          class="button-estrella"  
          [ngStyle]="{
            'background-color': specialButton.backgroundColor,
            'border-radius': specialButton.borderRadius,
            'color': specialButton.color,
            'font-size': specialButton.fontSize,
            'font-weight': specialButton.fontWeight,
            'padding': specialButton.padding,
            'margin': specialButton.margin
          }"
          >
          {{ specialButton.text }}
          </button>
        </div>
      </div>
    </div>

  </div>
</header>
