<div
    class="quotation__header"
    style="background-image: url(./assets/temp/header.jpg);padding: 4em;background-repeat: no-repeat;background-position: center;background-size: cover;"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div
                class="quotation__header--title"
                style="text-shadow: 1px 1px #a1a1a1; font-size: 2rem; color: white; margin-top: 2em;"
                >
                    PARA COTIZAR UNA ALFOMBRA SOLO DEBES SEGUIR ESTOS 4 SENCILLOS PASOS:
                </div>              
            
            </div>
        </div>
    </div>
</div>
