* {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Josefin Sans', sans-serif !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

li {
  list-style: none;
}

p {
  margin: 0 !important;
}

