@use "./mixins" as mixin;

.boton-bice {
  border: none;
  cursor: pointer;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.7em;
  border-radius: 8px;

  @include mixin.respond(phone) {
    font-size: 1.5rem;
  }

  &.boton-bice-con-icono {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-right: 9px;
    }
  }
  
  &.medium {
    padding: 0.7em 2em;
  }

  &.boton-cargando {
    cursor: default;
  }

  &.boton-margin {
    margin: 0 1rem;
  }

  &.boton-desactivado {
    cursor: not-allowed;
    color: var(--neutral-light-grey-60);
    background: var(--neutral-light-grey-20);

    &.boton-primario {
      color: var(--neutral-light-grey-60);
      background: var(--neutral-light-grey-20);
    }

    &.boton-secundario {
      border: 1px solid var(--neutral-light-grey-50);
      color: var(--neutral-light-grey-60);

      span {
        color: var(--neutral-light-grey-60);
      }
    }

  }

  &.boton-primario {
    color: white;
    background: var(--primary-blue-50);
    border: none;

    &:not(.boton-desactivado, .boton-cargando, .boton-desactivado):hover {
      transition: ease-in-out 0.3s;
      background-color: var(--primary-blue-60);
      color: white;
    }

    &:not(.boton-desactivado, .boton-cargando, .boton-desactivado):active {
      transition: ease-in-out 0.3s;
      background-color: var(--primary-blue-70);
    }

    .boton-cargando--text {
      color: white;
    }
  }

  &.boton-secundario {
    color: var(--neutral-dark-grey-70);
    background: white;
    border: 1px solid var(--neutral-dark-grey-70);

    @include mixin.respond(phone) {
      margin-right: 0rem;
    }

    span {
      color: var(--neutral-dark-grey-70);
      vertical-align: middle;
    }

    &:not(.boton-cargando):hover {
      transition: ease-in-out 0.3s;
      background-color: var(--neutral-dark-grey-70);
      border: 1px solid var(--neutral-dark-grey-70);
      color: white;

      span {
        transition: ease-in-out 0.3s;
        color: white;
      }
    }

    &:not(.boton-cargando):active {
      transition: ease-in-out 0.3s;
      background-color: var(--neutral-dark-grey-90);
      border: 1px solid var(--neutral-dark-grey-90);
      color: white;

      span {
        transition: ease-in-out 0.3s;
        color: white;
      }
    }
  }

  &.boton-cargando {
    color: var(--neutral-light-grey-40);
    background-color: var(--neutral-light-grey-40);
    position: relative;

    &.boton-primario {
      background: var(--primary-blue-50);
    }

    .boton-cargando--text {
      display: none;
    }

    .boton-cargando__loader {
      display: flex;
      justify-content: center;
      align-items: center;

      .boton-cargando__loader--spin {
        animation: spin 2s linear infinite;
        border: 0.2rem solid white;
        border-top: 0.2rem solid transparent;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  &.boton-naked {
    color: var(--primary-blue-50);
    display: flex;
    align-items: center;

    .boton-naked--texto {
      color: var(--primary-blue-50);
      cursor: pointer;
      font-size: 1.5rem;
      text-decoration: underline;
      font-weight: 300;

      @include mixin.respond(phone) {
        font-size: 1.5rem;
      }
    }

    &:hover {
      transition: ease-in-out 0.3s;
      color: var(--primary-blue-60);
    }

    &:active {
      transition: ease-in-out 0.3s;
      color: var(--primary-blue-70);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &.boton-text-blue {
    color: #1976D2;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background: none;
    text-decoration: underline;
  }
}

