@use "./mixins" as mixin;

* {
  margin: 0;
  padding: 0;
  color: var(--neutral-light-grey-70);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

li {
  list-style: none;
}

