@use "../scss/mixins" as mixin;

// soluciona problemas de inputs color celeste
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

form {    
  
  &.ng-invalid:not(:focus) {
    .dropdown__button--error {
      border: 2px solid var(--semantic-error-red-50) !important;
      .dropdown__button--button-text {
        color: var(--semantic-error-red-50) !important;
      }
    }
  
  }   
}

.form__control {
  margin: 0;
  margin-bottom: 3em;

  input:disabled {
    border-color: var(--neutral-light-grey-30) !important;
    background-color: var(--neutral-light-grey-10) !important;
    color: var(--neutral-light-grey-50) !important;

    +.form__label {
      color: var(--neutral-light-grey-50);
    }
  }

  .dropdown {
    .dropdown__button {
      border: 1px solid var(--neutral-light-grey-30) !important;
      border-radius: 0.25rem;
      padding: 0.5em 1.3em !important;
    }

    .dropdown__button--button-text {
      font-size: 1.4rem !important;
      font-weight: 400 !important;
    }

    .dropdown__button--value {
      font-size: 1.5rem !important;
      font-weight: 500 !important;
    }

    .float-placeholder {
      font-size: 1.2rem !important;
    }
  }

  input {
    border-radius: 4px;
    padding-bottom: 0 !important;

    &:focus {
      border: 2px solid var(--primary-blue-50);
      box-shadow: none;
      padding-bottom: 0 !important;

      ~label {
        opacity: 1 !important;
      }

      + .form__label {
        font-weight: 500;
        color: var(--primary-blue-50);
        opacity: 1;
      }
    }

    &:hover:not(:focus):not(:disabled) {
      border: 1px solid var(--neutral-light-grey-30);
      box-shadow: 0px 0px 40px rgba(18, 25, 84, 0.1);
    }

    &:not(:placeholder-shown) + .formulario__grupo-input__label {
      font-size: 1.2rem;
      font-weight: 500;
      opacity: 1;
      transform: scale(0.85) translateY(-1rem) translateX(0.15rem);
    }

    &.ng-invalid.ng-touched:not(:focus) {
      border: 2px solid var(--semantic-error-red-50);
      padding-bottom: 0;

      ~ .form__label {
        font-weight: 500;
        color: var(--semantic-error-red-50);
        opacity: 1;
        width: 100%;   
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.form__label--error {
          &::after {
            content: "\ea11";
            font-family: 'icon' !important;
            font-size: 2.75rem;
            text-align: end;
            bottom: -0.2em;
            position: absolute;
            right: -2.6em;
          }
        }
        &::after {
          content: "\ea11";
          font-family: 'icon' !important;
          font-size: 2.3rem;
          text-align: end;
        }
      }

    }
  
    &.ng-dirty {
      ~ .formulario__grupo-input__text-show-hide {
        transition: ease-in-out 0.3s;
        top: 2.6rem;
      }
    }
  }


  select {
    &:focus {
      border: 2px solid var(--primary-blue-50);
      box-shadow: none;
      padding-bottom: 0 !important;
    }

    &.ng-invalid.ng-touched:not(:focus) {
      border: 2px solid var(--semantic-error-red-50);
      padding-bottom: 0;

    }
  }
}

.form__label {
  font-size: 1.4rem !important;
  color: var(--neutral-light-grey-60);    
  display: flex;
  align-items: center;
  opacity: 1 !important;
  padding-left: 1em !important;
}

.form-input--large {
  color: var(--neutral-dark-grey-80) !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  height: calc(5.2rem + 2px) !important;
  padding-left: 0.8em !important;
}

.form-select--large {
  height: calc(4.8rem + 2px);

  &.form-select {
    color: var(--neutral-light-grey-60) !important;
    font-size: 1.4rem !important;
  }
}

.autocomplete-container {
  box-shadow: 0 0px 0px #0003, 0 0px 0px #00000024, 0 1px 1px -1px #0000001f !important;
  border-radius: 4px;
  height: auto !important;

  .x {
    display: none;
  }

  input {
    border: 1px solid #ced4da !important;
    height: calc(4.8rem + 2px) !important;
    line-height: 1.25;
    padding-left: 0.8rem !important;
  }

  ::placeholder {
    color: var(--neutral-light-grey-60);
  }

  :focus {
    border: 2px solid var(--primary-blue-50) !important;
    border-radius: 4px;
  }
}

.error-form-autocomplete {
  input {
    border: 2px solid var(--semantic-error-red-50) !important;
  }
  
}

