<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="phone">
                    <img src="./assets/svg/icon-mobile.svg" alt="">
                    <p>+ 51 987 577 906</p>
                </div>
              </div>
              <div class="col">
                <div class="mail">
                    <img src="./assets/svg/icon-mail.svg" alt="">
                    <p>consultas@alfombrarte.pe</p>
                </div>
              </div>
        </div>
    </div>
</div>
