.footer {
    padding: 1em 0;
    background-color: #222222;
    color: white;

    .footer-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // Small devices (landscape phones, 576px and up)
        @media (max-width: 575.98px) {
            display: block;
        }

        // applies to small devices (landscape phones, less than 768px)
        @media (max-width: 767.98px) {
            display: block;
        }
    }

    .mail, .phone {
        display: flex;
        align-items: center;
        margin: 0 2em;
        
        // Small devices (landscape phones, 576px and up)
        @media (max-width: 575.98px) {
            display: block;
            margin: 0.7em 0;
        }

        // applies to small devices (landscape phones, less than 768px)
        @media (max-width: 767.98px) {
            margin: 0.7em 0;
        }
    }

    .footer--icons {
        margin-right: 1em;
        width: 3.5em;

        @media (max-width: 575.98px) {
            width: 2em;
            display: inline-block;
        }
    }

    .footer--text {
        font-size: 2rem;
        font-weight: 300;
        margin: 0;

        // Small devices (landscape phones, 576px and up)
        @media (max-width: 575.98px) {
            font-size: 1.7rem;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
