<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-section">
                    <div class="phone">
                        <div class="footer--icons">
                            <img class="img-fluid" src="./assets/svg/icon-mobile.svg" alt="">  
                        </div>
                        <p class="footer--text">+ 51 987 577 906</p>
                    </div>
                    <div class="mail">
                        <div class="footer--icons">
                            <img class="img-fluid" src="./assets/svg/icon-mail.svg" alt="">
                        </div>
                        <a class="footer--text" href="mailto:consultas@alfombrarte.pe">
                            consultas@alfombrarte.pe
                        </a>
                    </div>
                </div>
   
              </div>
        </div>
    </div>
</div>
