<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-around align-items-center">
                    <div class="phone">
                        <div class="footer--icons">
                            <img class="img-fluid" src="./assets/svg/icon-mobile.svg" alt="">  
                        </div>
                        <p class="footer--text">+ 51 987 577 906</p>
                    </div>
                    <div class="mail">
                        <div class="footer--icons">
                            <img src="./assets/svg/icon-mail.svg" alt="">
                        </div>
                        <p class="footer--text">consultas@alfombrarte.pe</p>
                    </div>
                </div>
   
              </div>
        </div>
    </div>
</div>
