.box-border {
    background: white;
    color: var(--neutral-dark-grey-80);
    border: 1px solid var(--neutral-light-grey-30);
    border-radius: 8px;
    padding: 2rem 2.2rem 3rem;
}

.box-border__head {
    margin-bottom: 2.3em;
}

.box-border__head--icon {
    span {
        color: var(--primary-blue-50);
        font-size: 2rem;
    }
}

.box-border__head--title {
    color: var(--neutral-dark-grey-80);
    font-size: 1.8rem;
    font-weight: 600;
}

.box-border__text-box {
    margin: 2em 0;
}

.box-border__text-box--label {
    color: var(--neutral-dark-grey-60);
    font-size: 1.2rem;
    margin-bottom: 0.1em;
}

.box-border__text-box--value {
    color: var(--neutral-dark-grey-80);
    font-size: 1.6rem;
}

.box-border__head--button-text {
    cursor: pointer;
    font-size: 1.4rem;
    margin-left: 0.5em;
    color: var(--primary-blue-50);
    text-decoration: underline;
    font-weight: 100;
}

.box-border__body--description {
    font-size: 1.5rem;
    font-weight: 100;
}

.box-border__buttons {
    display: flex;
    justify-content: end;
}
