<div
class="multiple-items"
>
    <div
    id="images" class="app-zoom"
    >
      <div
      class="zoom"
      (mousemove)="zoomIn($event)"
      (mouseleave)="zoomOut($event)"
      [ngStyle]="{
        background: true ? 'url(' + imageUrl + ')' : null
      }"
      >
        <img class="img-fluid h-100" [src]="imageUrl" />
      </div>

  <!--     <div
      *ngIf="productWithDiscount"
      class="zoom__discount"
      >
        <span class="zoom__discount--value">-{{ discount }}%</span>
      </div> -->

<!--       <div class="zoom__shared">
        <div
        (click)="showIcons = !showIcons"
        class="zoom__shared--button"
        >
          <span class="icon-shared zoom__shared--icon"></span>
        </div>

        <div
        *ngIf="showIcons"
        class="d-flex"
        >

        </div>

      </div> -->

    </div>

</div>
