
.app-zoom {
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: zoom-in;
  border: 1px solid grey;

  .zoom {
    height: 21em;

  }

  .zoom img:hover {
    opacity: 0;
  }
  .zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
  }

  .zoom__discount, .zoom__shared {
    bottom: 0;
    position: absolute;
    margin-bottom: 1em;
    right: 1em;
  }

  .zoom__shared {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }

  .zoom__discount {
    background-color: yellow;
    border-radius: 50%;
    top: 2em;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;


  }


  .zoom__shared--button { 
    cursor: pointer;
    background-color: blue;
    border-radius: 50%;
    bottom: 2em;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.8em;
  }

  .zoom__shared--icon {
    color: white;
  }

  .zoom__shared--socialMedia {
    color: white;
    background-color: blue;
    border-radius: 20px;
    padding: 0.3em 1em;

    a {
      color: white;
      padding: 0 0.5em;
    }

    span {
      font-size: 1.2rem;
      vertical-align: text-bottom;
    }
  }
  
}
