<div
    class="header__banner"
    [style.background-image]="backgroundUrl"
    style="padding: 4em;background-repeat: no-repeat;background-position: center;background-size: cover;"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div
                class="header__banner--title"
                style="text-shadow: 1px 1px #a1a1a1; font-size: 7rem; color: white;font-weight: 300;"
                >
                    {{ title }}
                </div>              
            
                <div
                class="header__banner--text"
                style="text-shadow: 1px 1px #a1a1a1; font-size: 2rem; color: white;"
                >
                    {{ description }}
                </div>              
            
            </div>
        </div>
    </div>
</div>
