<div class="quotation">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                
                <div class="quotation__step">
                    <div class="quotation__step--number">
                        1
                    </div>
                    <div class="quotation__detail">
                        <div class="quotation__title">
                            <div class="quotation__title--text">
                                COTIZACIÓN
                            </div>
                            
                        </div>
                        <div class="quotation__detail--text">
                            Envíanos las medidas y el material en que deseas tu alfombra a nuestro whats app 987577906 o al correo consultas@alfombrarte.pe para poder cotizartelo.
                            Si desear orientación sobre como medir el espacio podrías enviarnos fotos de tu ambiente y te mandaremos un croquis de como debe estar colocada en el ambiente.
                            Enviada la cotización podemos concretar una reunión.
                        </div>
                    </div>
                </div>
                
                <div class="quotation__step quotation__step--right">
                    <div class="quotation__detail">
                        <div class="quotation__title">
                            <div class="quotation__title--text">
                                REUNIÓN
                            </div>
                            <div class="quotation__title--dashed"></div>
                            
                        </div>
                        <div class="quotation__detail--text">
                            Escucharemos tu historia, luego te enseñaremos muestras donde podrás ver  la excelente calidad de las alfombras  con las que trabajos. Definiremos el estilo y diseño que armonice más con tu decoración de tu espacio.
                        </div>
                    </div>
                    <div class="quotation__step--number">
                        2
                    </div>
                </div>

                <div class="quotation__step">
                    <div class="quotation__step--number">
                        3
                    </div>
                    <div class="quotation__detail">
                        <div class="quotation__title">
                            <div class="quotation__title--text">
                                INICIAMOS
                            </div>
                            
                        </div>
                        <div class="quotation__detail--text">
                            Después de que apruebes la cotización formal empezaremos con el proceso de diseño y definición de colores. En todo este proceso estaremos en constante comunicación contigo. Una vez aprobado el diseño iniciaremos con el proceso de producción.
                        </div>
                    </div>
                </div>
                
                <div class="quotation__step quotation__step--right">
                    <div class="quotation__detail">
                        <div class="quotation__title">
                            <div class="quotation__title--text">
                                ENTREGA
                            </div>
                            <div class="quotation__title--dashed"></div>
                            
                        </div>
                        <div class="quotation__detail--text">
                            Finalmente, coordinamos contigo la entrega e instalación de tu nueva alfombra. El tiempo de esta fase puede variar según los materiales elegidos.
                        </div>
                    </div>
                    <div class="quotation__step--number">
                        4
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>
