<app-header-banner 
backgroundPath="./assets/temp/header.jpg"
description="Da el primer paso para tener la alfombra de tus sueños"
title="CONTÁCTANOS"
></app-header-banner>

<div class="contact-us">
    <div class="contact-us--background-img">
        <img src="./assets/temp/contact-us.png" alt="">
    </div>
    <div class="contact-us__social-network--background">
        <div class="contact-us__social-network">
            <div class="contact-us__social-network--text">
                ALFOMBRARTE
            </div>
            <div class="contact-us__social-network--icon">
                <div class="contact-us__social-network--facebook">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="contact-us__social-network--instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="contact-us__phone--background">
        <div class="contact-us__phone">
            <div class="contact-us__phone--icon">
                <img class="img-fluid contact-us__phone--icons" src="./assets/svg/icon-mobile.svg" alt="">
            </div>
            <div class="contact-us__phone--text">
                CELULAR
                <span>+51 987 577 906</span>
            </div>
        </div>
    </div>

    <div class="contact-us__mail--background">
        <div class="contact-us__mail">
            <div class="contact-us__mail--icon">
                <img class="img-fluid contact-us__mail--icons" src="./assets/svg/icon-mail.svg" alt="">
            </div>
            <div class="contact-us__mail--text">
                EMAIL
                <span>consultas@alfombrarte.pe</span>
            </div>
        </div>
    </div>

    <div class="contact-us__whatsapp--background">
        <div class="contact-us__whatsapp">
            <div>
                <div class="contact-us__whatsapp--text">
                    Necesitas ayuda?
                </div>
                <div class="contact-us__whatsapp--text">
                    Estamos en línea
                </div>
            </div>
            <div class="contact-us__whatsapp--icon">
                <img class="img-fluid contact-us__whatsapp--icons" src="./assets/svg/icon-whatsapp.svg" alt="">
            </div>
        
        </div>
    </div>

    <div class="footer--background">
    </div>

</div>

