<div class="about-us">
    <div class="container">
        <div class="row justify-content-sm-end">
            <div class="col-12">

                <div class="about-us--title">
                    NOSOTROS
                </div>

            </div>
            <div class="col-sm-12 col-md-10">
                <div class="about-us--text">
                    Una alfombra es como un cuadro, una escultura o un adorno, debe comunicar la personalidad de las personas que habitan en un hogar, oficina, negocio, etc. Por esta razón, nuestro equipo se esfuerza para <span class="bold">crear alfombras únicas y exclusivas,</span> capaces de transmitir emociones.
                    <br>
                    <br>
                    La clave de nuestro servicio es la <span class="bold">personalización</span> porque creemos que cada alfombra es una historia diferente. Trabajamos para diseñar y fabricar una alfombra con la que te identifiques, <span class="bold">que refleje una parte de ti</span> o de tu empresa y, además, cumpla con satisfacer tus necesidades.
                    <br>
                    <br>
                    Nuestro objetivo es crear alfombras que embellezcan tus espacios, pero, sobre todo, que ayuden a <span class="bold">embellecer aún más tu vida.</span>
                </div>
            </div>
        </div>
    </div>
</div>
